.ctr {
  display: flex;
  align-items: center;
}

.divider {
  margin: 3rem auto;
}

.img {
  width: 35%;
}

.infoCtr {
  margin-left: 2rem;
  padding: 1rem 0;
}

.title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.caption {
  margin-bottom: 1rem;
}
