{
  "singleQuote": true,
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
