@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  width: 80%;
  max-width: 1000px;
  padding: 50px 0;
}

h1, h2, a, p {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  color: #1e1e24;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a {
  transition: color 0.2s linear;
}

a:hover {
  color: #474853;
}

.section {
  margin-bottom: 24px;
}
