@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url('../fonts/ProximaNova-Regular.woff') format("woff");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('../fonts/ProximaNova-Bold.woff') format("woff");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  width: 80%;
  max-width: 800px;
  padding: 5rem 0;
}

h1, h2, a, p {
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  color: black;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
}
