.ctr {
  display: flex;
}

.img {
  width: 45%;
}

.textCtr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.heading {
  font-size: 2rem;
}

.text {
  font-size: 1.5rem;
}

.iconCtr {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.icon {
  height: 2rem;
  width: auto;
}
