.ctr {
  display: flex;
  align-items: center;
}

.img {
  width: 40%;
  filter: drop-shadow(-16px 16px 0px #000000);
  margin-left: 16px;
  margin-bottom: 16px;
}

.textCtr {
  margin-left: 2rem;
}

.heading {
  margin-bottom: 1.5rem;
}

.text {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.text:last-child {
  margin-bottom: 0;
}

@media (max-width: 900px) {  
  .heading {
    margin-bottom: 1.25rem;
  }

  .text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 625px) {
  .ctr {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 60%;
    filter: drop-shadow(-12px 12px 0px #000000);
    margin-left: 12px;
    margin-bottom: 12px;
  }

  .textCtr {
    margin: 0;
    text-align: center;
    align-items: center;
    padding: 2rem 0 0;
  }
}
