.iconCtr {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: 0.5rem;
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transition: 0.2s background;
}

.iconBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon {
  height: 1.5rem;
  width: auto;
  color: black;
}

@media (max-width: 625px) {
  .iconCtr {
    width: 120px;
  }

  .iconBtn {
    height: 2rem;
    width: 2rem;
  }

  .icon {
    height: 1.2rem;
  }
}
